// Theme Information
//--------------------------------------------//
$theme_name: "Save The Date: Carmen and Ryan";
$theme_uri: "#";
$theme_author: "Matthew Caldwell";
$theme_author_uri: "http://matthew-caldwell.com";

$font_family: "Playfair Display", serif;
$header_font: "Parisienne";

$primary_color: #26328c;
