.home_content {
    font-family: $font_family;
    font-weight: 400;
    text-align: center;
    p {
        font-family: $font_family;
        font-size: 1.15rem;
        font-weight: 400;
        line-height: 1.5rem;
    }
    h2 {
        font-family: $header_font;
        font-size: 3.5rem;
        font-weight: 400;
        margin: 4.5rem 0 0;
    }
    em {
        font-style: italic;
    }
    strong {
        font-weight: 700;
    }
}
