.menu {
    background: white;
    box-shadow: 0 2px 15px #ccc;
    padding: 1.5rem 0;
    text-align: center;
    width: 100%;
    li {
        display: inline-block;
        vertical-align: middle;
    }
    a {
        color: $primary_color;
        font-size: 1.25rem;
        padding: 0 2rem;
        text-decoration: none;
        text-transform: uppercase;
    }
}
