.slideshow_container {
    margin-top: 2rem;
    @extend %wrapper;
}
.slideshow_header, .slideshow_footer {
	color: $primary_color;
    font-family: $header_font;
	font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
	text-align: center;
	small {
		display: block;
        margin: 0.5rem 0 1.5rem;
	}
}
.slideshow_footer {
    font-size: 1.75rem;
    text-transform: normal;
}
.slideshow {
	border: 10px solid #aaa;
	margin: 0.5rem 0;
	min-height: 40vw;
}
.slide {
	width: 80vw;
	img {
		display: block;
        height: auto;
		width: 100%;
	}
}
